<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="icon" href="../assets/icone.ico">
    <meta name="description" content="Móveis planejados sob medida em Itaquaquecetuba, Mogi das Cruzes, Suzano, Ferraz de Vasconcelos e todo Alto Tietê. Projetos de cozinhas, dormitórios e móveis personalizados com qualidade, precisão e excelente acabamento. Solicite seu orçamento.">
    <meta name="keywords" content="móveis planejados Itaquaquecetuba, móveis sob medida Mogi das Cruzes, móveis planejados Suzano, móveis planejados Ferraz de Vasconcelos, marcenaria Alto Tietê, móveis personalizados SP">
    <title>Contato | Vitorinos Planejados</title>
</head>
<body>

    <header>
    <nav class="container">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/logoVitorinos1.png" alt="Vitorinos Planejados Logo" id="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="modulos.html">Módulos</a></li>
            <li><a href="projetos.html">Projetos</a></li>
        </ul>
    </nav>
</header>
<section class="container contato-section">
    <div class="contato-header">
        <h2>Fale Conosco</h2>
        <p>Escolha o canal de sua preferência e fale com um de nossos especialistas.</p>
    </div>

    <div class="contato-grid">
        <div class="contato-card destaque">
            <div>
                <img width="80" height="80" src="https://img.icons8.com/color/96/whatsapp--v1.png" alt="whatsapp--v1"/>
            </div>
            <h3>WhatsApp</h3>
            <p>Atendimento rápido para orçamentos e dúvidas técnicas.</p>
            <span class="status">● Disponível Agora</span>
            <a href="https://wa.me/5511978043882?text=Olá! Gostaria de um orçamento para os Movéis planejados." 
               target="_blank" class="btn-whatsapp">
               Iniciar Conversa
            </a>
        </div>

        <div class="contato-card">
            <div class="card-icon">📍</div>
            <h3>Visite-nos</h3>
            <p>Rua Estados Unidos, 245<br>
            Jardim Americano<br>
            Itaquaquecetuba - SP</p>
            <a href="https://www.google.com/maps/place/23%C2%B028'17.4%22S+46%C2%B019'35.2%22W/@-23.471488,-46.3270987,19z/data=!3m1!4b1!4m4!3m3!8m2!3d-23.471488!4d-46.326455?entry=ttu&g_ep=EgoyMDI2MDQyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="link-simples">Ver no Mapa</a>
        </div>

        <div class="contato-card">
            <div class="card-icon">✉️</div>
            <h3>E-mail</h3>
            <p>Para parcerias e assuntos administrativos.</p>
            <a href="mailto:vitorinosplanejados@gmail.com" class="link-simples">vitorinosplanejados@gmail.com</a>
        </div>
    </div>
</section>
</body>
</html>