<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modúlos | Vitorinos Planejados</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icone.ico">
    <meta name="description" content="Móveis planejados sob medida em Itaquaquecetuba, Mogi das Cruzes, Suzano, Ferraz de Vasconcelos e todo Alto Tietê. Projetos de cozinhas, dormitórios e móveis personalizados com qualidade, precisão e excelente acabamento. Solicite seu orçamento.">
    <meta name="keywords" content="móveis planejados Itaquaquecetuba, móveis sob medida Mogi das Cruzes, móveis planejados Suzano, móveis planejados Ferraz de Vasconcelos, marcenaria Alto Tietê, móveis personalizados SP">
</head>
<body>
<header>
    <nav class="container">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/logoVitorinos1.png" alt="Logo" id="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="projetos.html">Projetos</a></li>
            <li><a href="contato.html" class="btn-orcamento">Contato</a></li>
        </ul>
    </nav>
</header>
<section class="container shop-section">
    <h2>Catálogo de Módulos</h2>
    <div class="grid-produtos">
        <div class="produto-card">
            <div class="badge">Popular</div>
            <img src="../assets/aerio1.webp" alt="Módulo Office" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Office Pro</h3>
                <p>Ideal para home office isolado, 12m² com climatização.</p>
                
                <span class="preco">A partir de R$ 18.900</span>

                <a href="https://wa.me/5511978043882?text=Olá! Tenho interesse no Módulo Office Pro." 
                target="_blank" 
                class="btn-comprar">
                Solicitar compra
                </a>
            </div>
        </div>

<div class="produto-card">

    <div class="produto-img">
        <img src="../assets/armario1.webp" alt="Módulo Comercial" class="img-expand">
    </div>

    <div class="produto-info">
        <h3>Módulo Comercial</h3>
        <p>Vitrine em vidro temperado e porta automática.</p>

        <span class="preco">R$ 32.500</span>

        <a href="https://wa.me/55119SEUNUMERO?text=Olá! Tenho interesse no Módulo Comercial no valor de R$ 32.500."
           target="_blank"
           class="btn-comprar">
           Comprar via WhatsApp
        </a>
    </div>

</div>

        <div class="produto-card">
            <img src="../assets/bancada1.webp" alt="Módulo Living" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Living</h3>
                <p>Suíte completa com banheiro e acabamento premium.</p>
                <span class="preco">R$ 45.000</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>

        <div class="produto-card">
        <div class="badge">Lançamento</div>
            <img src="../assets/bancada2.webp" alt="Módulo Oficina" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Oficina</h3>
                <p>Bancadas reforçadas e painel de ferramentas integrado.</p>
                <span class="preco">R$ 22.100</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>
        <div class="produto-card">
            <img src="../assets/bancada3.webp" alt="Módulo Living" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Living</h3>
                <p>Suíte completa com banheiro e acabamento premium.</p>
                <span class="preco">R$ 45.000</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>
        <div class="produto-card">
            <img src="../assets/banheiro1.webp" alt="Módulo Living" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Living</h3>
                <p>Suíte completa com banheiro e acabamento premium.</p>
                <span class="preco">R$ 45.000</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>
        <div class="produto-card">
            <img src="../assets/guardaRoupa1.webp" alt="Módulo Living" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Living</h3>
                <p>Suíte completa com banheiro e acabamento premium.</p>
                <span class="preco">R$ 45.000</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>
        <div class="produto-card">
            <img src="../assets/guardaRoupa2.webp" alt="Módulo Living" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Living</h3>
                <p>Suíte completa com banheiro e acabamento premium.</p>
                <span class="preco">R$ 45.000</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>
        <div class="produto-card" class="img-tamanho">
            <img src="../assets/torreQuente.webp"
             alt="Módulo Living" class="img-expand">
            <div class="produto-info">
                <h3>Módulo Living</h3>
                <p>Suíte completa com banheiro e acabamento premium.</p>
                <span class="preco">R$ 45.000</span>
                <a href="#" class="btn-comprar">Comprar agora</a>
            </div>
        </div>
        
    </div>
</section>
<script src="../js/main.js"></script>
</body>
</html>