<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos| Vitorinos Planejados</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icone.ico">
    <meta name="description" content="Móveis planejados sob medida em Itaquaquecetuba, Mogi das Cruzes, Suzano, Ferraz de Vasconcelos e todo Alto Tietê. Projetos de cozinhas, dormitórios e móveis personalizados com qualidade, precisão e excelente acabamento. Solicite seu orçamento.">
    <meta name="keywords" content="móveis planejados Itaquaquecetuba, móveis sob medida Mogi das Cruzes, móveis planejados Suzano, móveis planejados Ferraz de Vasconcelos, marcenaria Alto Tietê, móveis personalizados SP">
</head>
<body>

<header>
    <nav class="container">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/logoVitorinos1.png" alt="Logo" id="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="modulos.html" class="active">Módulos</a></li>
            <li><a href="contato.html" class="btn-orcamento">Contato</a></li>
        </ul>
    </nav>
</header>

<main class="container">
    <section class="modulos-header">
        <h1>Nossos Projetos</h1>
        <p><p>Confira alguns dos nossos projetos já executados com qualidade e acabamento profissional.</p></p>
    </section>

    <section class="grid-modulos">
        <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/hero-bg.webp" alt="Esquema de Módulo">
            </div>
            <div class="modulo-texto">
                <h3>(Cozinha)</h3>
                <p class="legenda">
                    ---------
                </p>
            </div>
        </article>

        <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/Joias.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>Lojas</h3>
                    <p class="legenda">
                        ---------
                    </p>
            </div>
        </article>
                <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/sala2.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>???????</h3>
                <ul class="legenda">
                    <p>
                        ========
                    </p>
                </ul>
            </div>
        </article>
        <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/cozinha2.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>???????</h3>
                <ul class="legenda">
                    <p>
                        ========
                    </p>
                </ul>
            </div>
        </article>
        <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/sala3.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>???????</h3>
                <ul class="legenda">
                    <p>
                        ========
                    </p>
                </ul>
            </div>
        </article>
        <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/cozinha3.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>???????</h3>
                <ul class="legenda">
                    <p>
                        ========
                    </p>
                </ul>
            </div>
        </article>
        <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/sala1.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>???????</h3>
                <ul class="legenda">
                    <p>
                        ========
                    </p>
                </ul>
            </div>
        </article>
                <article class="modulo-item">
            <div class="modulo-img">
                <img src="../assets/sala4.webp" alt="Esquema de Gaveteiro">
            </div>
            <div class="modulo-texto">
                <h3>???????</h3>
                <ul class="legenda">
                    <p>
                        ========
                    </p>
                </ul>
            </div>
        </article>
    </section>
</main>
<script src="../js/main.js"></script>

</body>
</html>